<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aipuer.remotesensingmonitoring">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" /> <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" /> <!-- 如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddressActivity"></activity>
        <activity android:name=".mycenter.LoginSettingsActivity"></activity>
        <activity android:name=".guidepage.SelectActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".guidepage.GuideActivity" />
        <activity android:name=".guidepage.LoginActivity" />
        <activity android:name=".statistics.StatisticsActivity" />
        <activity android:name=".mycenter.PersonalCenter" />
        <activity android:name=".guidepage.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>